@font-face {
    font-family: 'Proxima Nova';
    /*src: url('/fonts/IranSans.eot');  IE9 Compat Modes */
    /*src: url('/fonts/IranSans.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*url('/fonts/IranSans.woff') format('woff'),  Modern Browsers */
    src: url("../fonts/ProximaNovaCond-Regular.otf");
    /* Safari, Android, iOS */
    /*url('/fonts/IranSans.svg') format('svg');  Legacy iOS */
}

@font-face {
    font-family: 'Roboto';
    /*src: url('/fonts/IranSans.eot');  IE9 Compat Modes */
    /*src: url('/fonts/IranSans.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
    /*url('/fonts/IranSans.woff') format('woff'),  Modern Browsers */
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    /* Safari, Android, iOS */
    /*url('/fonts/IranSans.svg') format('svg');  Legacy iOS */
}

