.home-page {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(../images/blurred_bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.outer {
		position: absolute;
		width: 100%;
		height: 100%;
		display: table;
	}
	.middle {
		display: table-cell;
		vertical-align: middle;
	}
	.div-centered {
		position: relative;
		margin: 0 auto;
		max-width: 640px;
		text-align: center;
		width: 42%;


		button span img{
			margin-top: -3px;
		}

		.logo{
			margin-top: 50px;
		}
	}
}