<footer>
	<span>
		<a href="javascript:void(0)">
			<span>
				<img alt="facebook" src="/images/ic_footer_facebook.png">
			</span>
		</a>
	</span>

	<span>
		<a href="javascript:void(0)">
			<span>
				<img alt="facebook" src="/images/ic_footer_gmail.png">
			</span>
		</a>
	</span>

	<span>
		<a href="javascript:void(0)">
			<span>
				<img alt="facebook" src="/images/ic_footer_twetter.png">
			</span>
		</a>
	</span>
	<span>
			Sahre the Estimation App 
	</span>
	
	<span class="disclaimer">
		<span>
				2011-2015 Propelics Inc. View our Privacy policy  
		</span>
		<span>
			<a href="javascript:void(0)">
				About Propelics
			</a> 
		</span>
	</span>
</footer>