<div class="home-page" ng-controller="HomeCtrl as hc">
	<div class="outer">
		<div class="middle">
			<div class="div-centered">
				<h1>
					HOW MUCH DOES IT COST TO <strong>BUILD YOUR APP?</strong>	
				</h1>
				<p class="p-home">
				An Enterprise App can cost anywhere between $150K to $500K based on the complexity and features required in the app.A report from a leading mobile company found that mobile app development can be often more complex that it was orignally thought and lack of internal expertise and "mobile thoght-process" can make it frustrating. </p>
				<p class="p-home"><strong>
				This calculator will introduce you to various aspects of mobile app and help you in high level estimation for you app.
				</strong></p>
				<br/>
				<button class="btn-get-started" ng-click="hc.gotoMain();">Get Started <span><img alt="arrows-btn" src="/images/ic_buton1_arrow.png"></span></button>

				<div class="logo">
					<img src="/images/ic_logo_home.png" alt="logo">
				</div>  
			</div>
		</div>
	</div>
	
</div>

